/* this container ID adds white space all around the content  */
#pageContainer {
    width: 85%;
    margin: auto;
}

/* embedded logo within navbar */
.logo {
    max-height: 45px;
    border: 2px solid bisque;
    border-radius: 14px;
    padding: 1%;
    list-style-type: none;
    margin: 2px auto;
}

/* background for navbar */
nav {
    background-image: url(../images/sparkly\ background.gif);
    background-position: center;
    background-repeat: none;
    box-shadow: inset 0 2000px rgba(0, 0, 0, 0.6);
    color: antiquewhite;
}

/* keeps font in contrast for dropdown items */
.dropdown-menu {
    color: black;
}
.dropdown-menu a:visited {
    color: black;
}

/* jumbotron background and text styling */
.JumboBG {
    background-image:url(../images/winter.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 2000px rgba(0, 0, 0, 0.6);
    color: antiquewhite;
    text-shadow: 0 0 20px black;
}

/* an attempt to make the button sit on top of img */
/* .button {
    z-index: 1;
    margin-top: -20%;
} */

/* resize cards regardless of img dimensions to uniform size */
.card-img-top {
    height: 200px;
}

/* hover on button to give box-shadow or underline effect in nav  */
.btn :hover {
    box-shadow: 0 0 25px rgb(3, 3, 110);
}
.nav-item a:hover {
    text-decoration: underline;
    font-size: large;
    color: none;
}

/* adds spacing on footer to seperate from main content */
.card-header {
    margin-top: 5%;
}

/* creates space between each card */
.cardContainer:first-child {
    margin-bottom: 20px;
}

/* retains white font in navbar  */
nav a:visited {
    color: antiquewhite;
}
nav a::before {
    color: antiquewhite;
}
nav {
    color: antiquewhite
}

/* aligns side headings to right  */
.cardContainer h2 {
    text-align: right;
}